.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: chartreuse;
  padding: 10px 20px;
}

.logo {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
